html {
    overflow-y: scroll;
}

.ArthurEducation {
    font-size: 20px;
    font-weight: 700;
    color: #243344;
    letter-spacing: 0.5px;
    margin-left: 13px;
}

.Menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #243344;
    font-weight: 600;
    transition: 0.3s;
    padding: 6px 14px;
    border-radius: 8px;
}

.Menu a:hover {
    background-color: #9eb7d9;
    color: white;
}

.Menu a.Aktif {
    background-color: #587ca0;
    color: white;
}

.Header {
    text-align: center;
    background-color: #b8cde3;
    color: #243344;
    font-weight: 700;
    font-size: 28px;
    padding: 12px 0;
    margin: 30px auto;
    border-radius: 50px;
    width: 300px;
}

.bagian {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #dde6f2;
}

.topic {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #c9d7e8;
    overflow: hidden;
}

.topic > summary {
    background: #eaf2fb;
    padding: 14px;
    font-weight: 700;
    color: #243344;
    cursor: pointer;
    transition: .2s;
}

.topic li {
    text-align: left;
}

.topic:hover > summary {
    background: #d9e6d3;
}

.topic[open] > summary {
    background: #587ca0;
    color: #fff;
}

details details {
    border-top: 1px solid #dde6f2;
    padding-left: 10px;
}

details details summary {
    padding: 12px;
    color: #243344;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

details details summary:hover {
    color: #587ca0;
}

details details[open] summary {
    background: #e2ebf6;
    color: #243344;
}

details p {
    padding: 12px;
    background: #f9fbf8;
    margin: 0;
    border-top: 1px solid #cdd8c7;
    font-size: 15px;
}
